<div class="carousel-caption d-none d-md-block text-light my-5">
  <div class="fs-1 text-center ">
    <span class="animText h1"></span>
  </div>
    <p>Technolog New, Development and Trends</p>
    <a href="/create"><button class="btn btn-danger">Create</button></a>
    <a href="/boxes"><button class="btn btn-primary">Code Boxes</button></a>
  </div>