<%- include('./partials/header.ejs') %> 
<%- include('./partials/nav.ejs') %> 
<div class="body">
        <img src="./img/404-icon.jpg"  class="logo">
        <h1 class="text-danger">Page Not Found!</h1>
</div>
<%- include('./partials/footer.ejs') %> 