<%- include('./partials/header.ejs') %> 
<%- include('./partials/nav.ejs') %> 
<div class="container my-2">
    <h1>This is About Page</h1>
    <div class="about d-flex justify-content-center my-3">
        <div class="text mx-5 w-50">
            <h4 class="text-primary">CodeBox help you to take your code to public.</h4>
            <p>codebox help you to make you own codebox also it help you to read others code. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, omnis. Doloribus laudantium dolor ad illum tempore. Magnam eos rerum est?</p>
        </div>
        <div class="img">
            <img src="./img/about-1.jpg" class="col-8">
        </div>
    </div>
        
</div>

<%- include('./partials/footer.ejs') %> 
