<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>
<div id="carouselExampleDark" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="./img/2.jpg" class="d-block w-100" alt="...">
        <%- include('./partials/carousel-caption.ejs') %> 
      </div>
    </div>
  </div>
  <script src="./js/typed.js-master/lib/typed.js"></script>
  <script src="./js/typedJs.js"></script>
<%- include('./partials/footer.ejs') %>